<div class="backdrop"></div>
<div class="details-box">
  <h2>Event Data:</h2>
  <div *ngIf="eventDetails; else noEventDetailsData">
    @for (detail of eventDetailsOutput; track $index) {
    <p style="font-size: 1em; font-weight: 900">
      {{ detail.key }}: {{ detail.value }}
    </p>
    }
  </div>
  <ng-template #noEventDetailsData>No Event details Data...</ng-template>
  <div class="my-2 float-end">
    <button type="button" class="btn btn-primary" (click)="onCloseModal()">
      OK
    </button>
  </div>
</div>
